.leadership-listing .leadership-list-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.leadership-listing .leadership-list-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: var(--text-color);
}

.leadership-listing .leadership-list-cta {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #242424;
  text-decoration: none;
  white-space: nowrap;
}

.leadership-listing .leadership-list-cta::after {
  content: "\e603";
  font-family: upspricons, tahoma, helvetica, arial, sans-serif;
  font-size: 33px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  margin-left: 8px;
  background: radial-gradient(#0662bb 50%, rgb(6 98 187 / 60%) 50%);
  background-clip: text;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.5s;
}

.leadership-listing .leadership-list-cta:hover {
  color: #6e6e6e;
}

.leadership-listing .leadership-list-cta:hover::after {
  background: none;
  -webkit-text-fill-color: initial;
  color: #0662bb;
  transform: translateX(10px);
}

.leadership-listing ul {
  list-style: none;
  margin: 0;
  padding: 16px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (width >= 768px) {
  .leadership-listing ul {
    grid-template-columns: 1fr 1fr;
  }
}

.leadership-listing li {
  background-color: var(--background-color);
  border-radius: var(--border-radius-card);
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 16%);
  overflow: hidden;
}

.leadership-listing a.leadership-card-link {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.leadership-listing .leadership-card-image {
  flex: 0 0 auto;
  align-self: stretch;
  line-height: 0;
}

.leadership-listing .leadership-card-image picture {
  display: block;
  height: 100%;
}

.leadership-listing .leadership-card-image img {
  min-width: 0;
  width: 180px;
  height: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
  display: block;
}

@media (width <= 1023px) {
  .leadership-listing .leadership-card-image img {
    width: 103px;
  }
}

.leadership-listing .leadership-card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 32px;
}

.leadership-listing .leadership-card-body::before {
  content: '';
  display: block;
  width: 32px;
  height: 3px;
  background-color: var(--ups-gold);
  margin-bottom: 16px;
}

.leadership-listing .leadership-card-body h3 {
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #242424;
}

.leadership-listing .leadership-card-body p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  color: #767676;
}
