.breadcrumb {
  padding: 15px 0;
}

.breadcrumb nav ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  list-style: none;
  padding: 1rem 2rem 1rem 0;
}

.breadcrumb nav li {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #5f5753;
}

.breadcrumb nav li:not(:first-child)::before {
  content: '/';
  margin: 0 8px;
  color: #5f5753;
}

.breadcrumb nav a {
  font-size: 14px;
  color: #5f5753;
  text-decoration: underline;
}

.breadcrumb nav a:hover {
  text-decoration: none;
}

.breadcrumb nav li.active {
  color: #5f5753;
}
